<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string> North Indian  </string>
		<key>image</key>
		<string>north-indian</string>
		<key>Top3</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Shahi Paneer</string>
				<key>image</key>
				<string>shahi-paneer</string>
				<key>Price</key>
				<string>280</string>
				<key>rating</key>
				<string>4</string>
				<key>quantity</key>
				<string>0</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Butter Chichen</string>
				<key>image</key>
				<string>butterchicken</string>
				<key>Price</key>
				<string>340</string>
				<key>rating</key>
				<string>4.2</string>
				<key>quantity</key>
				<string>0</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Palak Paneer</string>
				<key>image</key>
				<string>Palak-Paneer</string>
				<key>Price</key>
				<string>298</string>
				<key>rating</key>
				<string>3.9</string>
				<key>quantity</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string> South Indian  </string>
		<key>image</key>
		<string>south-indian</string>
		<key>Top3</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Dosa</string>
				<key>image</key>
				<string>Dosa</string>
				<key>Price</key>
				<string>160</string>
				<key>rating</key>
				<string>4.1</string>
				<key>quantity</key>
				<string>0</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>idli</string>
				<key>image</key>
				<string>idli</string>
				<key>Price</key>
				<string>200</string>
				<key>rating</key>
				<string>3.8</string>
				<key>quantity</key>
				<string>0</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Uttapam</string>
				<key>image</key>
				<string>uttapam</string>
				<key>Price</key>
				<string>230</string>
				<key>rating</key>
				<string>4.2</string>
				<key>quantity</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string> Italian  </string>
		<key>image</key>
		<string>italian</string>
		<key>Top3</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Pizza</string>
				<key>image</key>
				<string>pizza</string>
				<key>Price</key>
				<string>322</string>
				<key>rating</key>
				<string>4.1</string>
				<key>quantity</key>
				<string>0</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Mushroom Risotto</string>
				<key>image</key>
				<string>risotto</string>
				<key>Price</key>
				<string>340</string>
				<key>rating</key>
				<string>4.2</string>
				<key>quantity</key>
				<string>0</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Bruschetta</string>
				<key>image</key>
				<string>bruschetta</string>
				<key>Price</key>
				<string>222</string>
				<key>rating</key>
				<string>3.2</string>
				<key>quantity</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string> Mexican  </string>
		<key>image</key>
		<string>mexican</string>
		<key>Top3</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Chicken Taquitos</string>
				<key>image</key>
				<string>taquitos</string>
				<key>Price</key>
				<string>321</string>
				<key>rating</key>
				<string>2.8</string>
				<key>quantity</key>
				<string>0</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Taco Lettuce</string>
				<key>image</key>
				<string>taco</string>
				<key>Price</key>
				<string>200</string>
				<key>rating</key>
				<string>4</string>
				<key>quantity</key>
				<string>0</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Crunchwrap</string>
				<key>image</key>
				<string>crunchwrap</string>
				<key>Price</key>
				<string>158</string>
				<key>rating</key>
				<string>4.1</string>
				<key>quantity</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string> Thai  </string>
		<key>image</key>
		<string>thai</string>
		<key>Top3</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Thai Chicken Satay</string>
				<key>image</key>
				<string>satay</string>
				<key>Price</key>
				<string>300</string>
				<key>rating</key>
				<string>3.4</string>
				<key>quantity</key>
				<string>0</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Lettuce Wraps</string>
				<key>image</key>
				<string>LettuceWraps</string>
				<key>Price</key>
				<string>222</string>
				<key>rating</key>
				<string>4</string>
				<key>quantity</key>
				<string>0</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Tom Khaa</string>
				<key>image</key>
				<string>tom</string>
				<key>Price</key>
				<string>298</string>
				<key>rating</key>
				<string>3.9</string>
				<key>quantity</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string> Chinise  </string>
		<key>image</key>
		<string>chinise</string>
		<key>Top3</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Dumplings</string>
				<key>image</key>
				<string>dumplings</string>
				<key>Price</key>
				<string>120</string>
				<key>rating</key>
				<string>3</string>
				<key>quantity</key>
				<string>0</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Chow Mein</string>
				<key>image</key>
				<string>ChowMein</string>
				<key>Price</key>
				<string>230</string>
				<key>rating</key>
				<string>3.8</string>
				<key>quantity</key>
				<string>0</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Vermicelli Rolls</string>
				<key>image</key>
				<string>rolls</string>
				<key>Price</key>
				<string>300</string>
				<key>rating</key>
				<string>4</string>
				<key>quantity</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
